.username {
	background-image: url(../images/user_go.png);
	background-position: 1px 1px;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 22px;
	font-size: 12px;
	font-family: verdana, tahoma, sans-serif;	
	ime-mode:disabled;	
	border-width: 1px;
	border-style: solid;
	border-color: #555555;
	
}

.password {
	background-image: url(../images/key.png);
	background-position: 1px 1px;
	background-repeat: no-repeat;
	padding-left: 20px;
	height: 22px;
	FONT-SIZE: 12px;
	border: 1px solid #555555;
	color: #000000;
	font-family: verdana, tahoma, sans-serif;
	ime-mode:disabled;
	
}

input.gSubmit{
	background-image:url(../images/portfolioSubmit.gif); 
	background-position : center; 
	background-repeat:no-repeat; 
	width:82px; 
	height:26px; 
	border: 0px;
	font-size:16px; font-weight:bold;
	color:#ffffff;
}
input.gCancel{
	background-image:url(../images/portfolioCancel.gif); 
	background-position : center; 
	background-repeat:no-repeat; 
	width:82px; 
	height:26px; 
	border: 0px;
	font-size:16px; font-weight:bold;
	color:#ffffff;
}