<!-- 系統定義頁尾 start-->
<script>
if (navigator.userAgent.indexOf("MSIE") > 0){
	document.write("<style>#siteInfo{width:100%; clear:both; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; font-size:75%; color:#cccccc; padding:10px 0px 10px 0px; position:absolute; bottom: auto; clear:both; top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight-10)-1:document.body.scrollTop+(document.body.clientHeight-this.clientHeight-10)-10); z-index=32768; background:#ffffff; filter: Alpha(opacity:0.8); filter:alpha(opacity=80);}#siteInfo img{padding: 4px 4px 4px 10px; vertical-align: middle;}</style>");
}else{
  document.write("<style> #siteInfo{width:100%; clear: both; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; font-size:75%; color:#cccccc; padding: 10px 0px 10px 0px; position:fixed; bottom:10px; background:#ffffff; filter:Alpha(opacity: 0.8); filter:alpha(opacity=80); -moz-opacity:0.8; z-index=32768;}#siteInfo img{padding: 4px 4px 4px 10px; vertical-align: middle;}</style>");
}
</script>



<div id="siteInfo"> 
<img src="images/logo_top_blue.gif" /> 
<a href="#"> 關於數位學習歷程 </a>|
<a href="#"> 連絡我們  </a>|
</div>
<!-- 系統定義頁尾 end -->