<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass"><value>com.mysql.jdbc.Driver</value></property>
      	<property name="jdbcUrl"><value>jdbc:mysql://192.192.230.160:3306/CIS?useUnicode=true&amp;characterEncoding=utf-8</value></property>
		<property name="user" value="root"/>
		<property name="password" value="spring"/>
		<property name="acquireRetryAttempts" value="10"></property>
        <property name="preferredTestQuery" value="SELECT 1"></property>
        <property name="minPoolSize" value="3"></property>
        <property name="maxPoolSize" value="30"></property>
        <property name="testConnectionOnCheckin" value="false"></property>
        <property name="testConnectionOnCheckout" value="false"></property>
        <property name="maxIdleTime" value="30"></property>
        <property name="idleConnectionTestPeriod" value="60"></property>
	</bean-->
	
	<!--bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
		<property name="url"><value>jdbc:mysql://192.168.3.160:3306/CIS?useUnicode=true&amp;characterEncoding=utf-8&amp;useOldAliasMetadataBehavior=true</value></property>
		<property name="username"><value>root</value></property>
		<property name="password"><value>spring</value></property>
	</bean-->
	<bean id="dataSource"
       class="org.springframework.jndi.JndiObjectFactoryBean">
       <property name="jndiName">
          <value>java:comp/env/jdbc/mysql</value>
       </property>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">        
        	<ref local="dataSource"/>
        </property>
        
        <property name="hibernateProperties">
            <props>
               <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
               <prop key="hibernate.show_sql">false</prop>
			   <prop key="hibernate.cache.provider_class">com.opensymphony.oscache.hibernate.OSCacheProvider</prop>
			   <prop key="hibernate.cache.use_query_cache">true</prop>
			   <prop key="hibernate.jdbc.batch_size">100</prop>
	     	</props>
        </property>
        <property name="mappingResources">
            <list>
            	<value>dao/orm/EpsUser.hbm.xml</value>
            	<value>dao/orm/EpsFeedback.hbm.xml</value>
            </list>
        </property>
    </bean>
    
    <bean id="JdbcDAO" class="dao.JdbcDAO">
    	<property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="HibernateDAO" class="dao.HibernateDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="defaultManager" class="service.impl.DefaultManagerImpl">    
		<property name="jdbcDao" ref="JdbcDAO"/>
		<property name="hibernateDAO" ref="HibernateDAO"/>
    </bean>
    
    <bean id="manager4John" class="service.impl.ManagerImpl4John">
    	<property name="manager" ref="defaultManager"/>
    </bean>
	
	<!-- 自動排程 >
	<bean id="servletContext" class="org.springframework.web.context.support.ServletContextFactoryBean"/>	
	<bean name="jobDetailBean" class="org.springframework.scheduling.quartz.JobDetailBean">
	  <property name="jobClass" value="service.quartz.SyncJob"/>
	  <property name="jobDataAsMap">
		<map>
			<entry key="servletContext"><ref bean="servletContext"/></entry>
		</map>
	  </property>
	</bean>

    <bean id="cronTriggerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail"><ref bean="jobDetailBean"/></property>
        <property name="cronExpression">            
            <value>0 11 13 * * ?</value>
        </property>
    </bean>
    
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerBean"/>
            </list>
        </property>
    </bean-->
	
</beans>